USE [DEV2311LM_LESSON02_LAB1]
GO
/****** Object:  Table [dbo].[CTDONDH]    Script Date: 12/9/2023 6:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDONDH](
	[SODH] [varchar](20) NOT NULL,
	[MAVTU] [varchar](20) NOT NULL,
	[SLDAT] [smallint] NULL,
 CONSTRAINT [PK_CTDONDH] PRIMARY KEY CLUSTERED 
(
	[SODH] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPNHAP]    Script Date: 12/9/2023 6:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPNHAP](
	[SOPN] [varchar](20) NOT NULL,
	[MAVTU] [varchar](20) NOT NULL,
	[SLNHAP] [smallint] NULL,
	[DGNHAP] [varchar](20) NULL,
 CONSTRAINT [PK_CTPNHAP] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPXUAT]    Script Date: 12/9/2023 6:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPXUAT](
	[SOPX] [varchar](20) NOT NULL,
	[MAVTU] [varchar](20) NOT NULL,
	[SLXUAT] [tinyint] NULL,
	[DGXUAT] [varchar](50) NULL,
 CONSTRAINT [PK_CTPXUAT] PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 12/9/2023 6:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONDH](
	[SODH] [varchar](20) NOT NULL,
	[NGAYDH] [date] NOT NULL,
	[MANHACC] [varchar](20) NULL,
 CONSTRAINT [PK_DONDH_1] PRIMARY KEY CLUSTERED 
(
	[SODH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 12/9/2023 6:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANHACC] [varchar](20) NOT NULL,
	[TENNHAC] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[DIENTHOAI] [nvarchar](30) NULL,
 CONSTRAINT [PK_NHACC] PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PNHAP]    Script Date: 12/9/2023 6:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PNHAP](
	[SOPN] [varchar](20) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[SODH] [varchar](20) NULL,
 CONSTRAINT [PK_PNHAP] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PXUAT]    Script Date: 12/9/2023 6:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PXUAT](
	[SOPX] [varchar](20) NOT NULL,
	[NGAYXUAT] [date] NULL,
	[TENKH] [nvarchar](50) NULL,
 CONSTRAINT [PK_PXUAT] PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 12/9/2023 6:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TONKHO](
	[NAMTHANG] [varchar](6) NOT NULL,
	[MATVTU] [varchar](20) NOT NULL,
	[SLDAU] [smallint] NULL,
	[TONGSLN] [smallint] NULL,
	[TONGSLX] [smallint] NULL,
	[SLCUOI] [smallint] NULL,
 CONSTRAINT [PK_TONKHO] PRIMARY KEY CLUSTERED 
(
	[NAMTHANG] ASC,
	[MATVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 12/9/2023 6:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVTU] [varchar](20) NOT NULL,
	[TENVTU] [nvarchar](255) NULL,
	[DVTINH] [nvarchar](50) NULL,
	[PHANTRAM] [float] NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONDH_DONDH] FOREIGN KEY([SODH])
REFERENCES [dbo].[DONDH] ([SODH])
GO
ALTER TABLE [dbo].[CTDONDH] CHECK CONSTRAINT [FK_CTDONDH_DONDH]
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONDH_VATTU1] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTDONDH] CHECK CONSTRAINT [FK_CTDONDH_VATTU1]
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPNHAP_PNHAP1] FOREIGN KEY([SOPN])
REFERENCES [dbo].[PNHAP] ([SOPN])
GO
ALTER TABLE [dbo].[CTPNHAP] CHECK CONSTRAINT [FK_CTPNHAP_PNHAP1]
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPNHAP_VATTU1] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTPNHAP] CHECK CONSTRAINT [FK_CTPNHAP_VATTU1]
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPXUAT_PXUAT] FOREIGN KEY([SOPX])
REFERENCES [dbo].[PXUAT] ([SOPX])
GO
ALTER TABLE [dbo].[CTPXUAT] CHECK CONSTRAINT [FK_CTPXUAT_PXUAT]
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPXUAT_VATTU] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTPXUAT] CHECK CONSTRAINT [FK_CTPXUAT_VATTU]
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD  CONSTRAINT [FK_DONDH_NHACC1] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACC] ([MANHACC])
GO
ALTER TABLE [dbo].[DONDH] CHECK CONSTRAINT [FK_DONDH_NHACC1]
GO
ALTER TABLE [dbo].[PNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PNHAP_DONDH] FOREIGN KEY([SODH])
REFERENCES [dbo].[DONDH] ([SODH])
GO
ALTER TABLE [dbo].[PNHAP] CHECK CONSTRAINT [FK_PNHAP_DONDH]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_VATTU1] FOREIGN KEY([MATVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [FK_TONKHO_VATTU1]
GO
